h1 {
  font-size: 60px;
  text-align: center;
}

p, li {
    display: list-item;
    text-align: -webkit-match-parent;    
}

ul {
	margin: 0;
    padding: 5px 0 0 30px;
    list-style: none;
    height: auto;
    overflow: hidden;
    float: left;
    width: auto;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
section {
	color: white;
	text-align: left;
	font-size:40px; 
    font-weight:bold;
   font-family: 'Lato', sans-serif;

}
img {
	width:150px; 
	height:150px;
	
}
td, tr
{ text-align: center;
	font-size: 14px;
	}
a
{
	text-decoration:none;
	font-family: 'Lato', sans-serif;
	color:white;
}
a:visited {
    color: grey; /* Цвет посещенных ссылок */
   }
a:active {
    color: grey; /* Цвет активных ссылок */}
.thumbnails
{
	  font-family: 'Lato', sans-serif;

margin: -3em 0 0 -2em;
text-align: left;
}
.thumbnail
{
	  font-family: 'Lato', sans-serif;

text-decoration: none;
display: -moz-inline-box;
display: inline-block;
vertical-align: top;
text-align: left;
margin: 2em 0 0 2em;
}

.thumbnail .r
{
	 font-family: 'Lato', sans-serif;
color: white;
width: 14em;
float: left;
}
.box1
{
	margin:3%; /* Отступ сверху */
	
}
